.projects {
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  position: relative;
  background: linear-gradient(
    180deg,
    #000 0%,
    #191106 5%,
    #3a260d 15%,
    #ffd341 75%,
    #ffe285 90%,
    #191106 96%,
    #000 100%
  );
  overflow: visible;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6vh;
}

.projects::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    transparent 67%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 1;
}

.projects::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.08) 0px,
    rgba(0, 0, 0, 0.14) 2px,
    transparent 4px,
    transparent 8px
  );
  z-index: 2;
}

@font-face {
  font-family: "ComicPixel";
  src: url("/fonts/ComicPixel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.projectsTitle {
  font-family: "ComicPixel", "Comic Sans MS", cursive, sans-serif;
  font-size: clamp(4rem, 4vw, 6rem);
  letter-spacing: 1.5px;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
  text-align: center;
  display: block;

  color: #b1a643;

  /* Чёрная пиксельная обводка */
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000,
    -3px -3px 0 #000, 3px 0px 0 #000, -3px 0px 0 #000, 0px 3px 0 #000,
    0px -3px 0 #000;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
  width: 100%;

  position: relative;
  z-index: 10;
}

@media (max-width: 734px) {
  .cardsGrid {
    margin-bottom: 120px;
  }
  .projects {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .projectsTitle {
    margin-bottom: 60px;
  }
}
